<div class="container-fluid">
    <div class="row">
        <button type="button" class="btn btn-default btn-l"
                ng-click="onUpload()" ng-show="!isShowBomList">Upload</button>

        <div ng-show="isShowBomList">
            <button type="button" class="btn btn-default btn-l" ng-click="onUpload()">Upload</button>
            <button type="button" class="btn btn-default btn-l" ng-click="onDownLoad()">Download</button>
            <br/>
            <div class="dataSwitch">
                <a href="" ng-click="onCustomizeDynamicTabClk()">Customize Dynamic</a> |
                <a href="" ng-click="onCustomizeStaticTabClk()">Customize Static</a> |
                <a href="" ng-click="onAutoTabClk()">Auto</a>
            </div>
        </div>


    </div>
    <div class="row" ng-show="isShowBomList">
      <div class="col-md-4" >
        <button type="button" class="btn btn-default btn-l" ng-click="onBomSelected()">Add</button>

        <ul class="phones">
            <li ng-repeat="item in bindData"
                class="phone-listing" ng-click="onBomSelected($index)">
              <a class="bomcategoryId" href="javascript:void(0)">{{item.bomcategoryId || ""}}</a>
              <a class="bomcategoryLabel" href="javascript:void(0)">{{item.bomcategoryLabel || ""}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4" ng-show="isShowEditBomUI">
        bomcategoryId: {{selectedItem.bomcategoryId}}
          <br/>
          <div>
              <form name="bomform" class="css-form" novalidate>
                  bomcategoryLabel:
                  <input type="text" ng-model="selectedItem.bomcategoryLabel" name="bomcategoryLabel" required=""/>
                  <br />
                  <div ng-show="bomform.bomcategoryLabel.$touched" class="errorMsg">
                      <div ng-show="bomform.bomcategoryLabel.$error.required">
                          bomcategory label should not be empty
                      </div>
                  </div>

                  <br/>
                  options:
                  <button type="button" class="btn btn-default btn-xs" ng-click="onOptionSelected()">Add</button>
                  <br/>




                  <ul class="phones" >
                      <li ng-click="onOptionSelected($index)"
                          ng-repeat="option in (selectedItem.projectOptions || [])">
                          <a href="javascript:void(0)">{{option.projectLabel}}</a>
                      </li>
                  </ul>
                  <div ng-show="selectedItem.projectOptions && selectedItem.projectOptions.length == 0" class="errorMsg">
                    options should not be empty
                  </div>
              </form>

              <button type="button" class="btn btn-default btn-xs" ng-click="onBomSubmit()" ng-disabled="bomform.$invalid || (selectedItem.projectOptions && selectedItem.projectOptions.length == 0)">Submit</button>
              <button type="button" class="btn btn-default btn-xs" ng-click="onBomDelete()" ng-show="selectedItemIndex!=-1">Delete</button>

          </div>
      </div>
    <div class="col-md-4" ng-show="isShowEditOptionUI">
        <form name="optionform" class="css-form" novalidate>
            "projectLabel":
            <input type="text" ng-model="selectedOption.projectLabel" name="projectLabel" required="" />
            <br/>
            <div ng-show="optionform.projectLabel.$touched" class="errorMsg">
                <div ng-show="optionform.projectLabel.$error.required">projectLabel should not be empty</div>
            </div>


            <br/>
            "projectUnit":
            <select ng-model="selectedOption.projectUnit">
                <option ng-repeat="(key, value) in unitEnum" value="{{key}}">{{value}}</option>
            </select>


            <br/>
            "projectDesc": <input type="text" ng-model="selectedOption.projectDesc" name="projectDesc" required=""/>
            <div ng-show="optionform.projectDesc.$touched" class="errorMsg">
                <div ng-show="optionform.projectDesc.$error.required">projectDesc should not be empty</div>
            </div>


            <br/>
            "projectSN": <input type="text" ng-model="selectedOption.projectSN" name="projectSN" required=""/>
            <div ng-show="optionform.projectSN.$touched" class="errorMsg">
                <div ng-show="optionform.projectSN.$error.required">projectSN should not be empty</div>
            </div>


            <br/>
            "projectPrice": <input type="number" ng-model="selectedOption.projectPrice" name="projectPrice" required=""/>
            <div ng-show="optionform.projectPrice.$touched" class="errorMsg">
                <div ng-show="optionform.projectPrice.$error.number">projectPrice should be number</div>
            </div>
        </form>
        <br/>
        <button type="button" class="btn btn-default btn-xs" ng-click="onOptionSubmit()" ng-disabled="optionform.$invalid">Submit</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="onOptionDelete()" ng-show="selectedOptionIndex!=-1">Delete</button>

    </div>



    <form name="uploadForm" class="uploadForm">
      <input type="file" multiple="" accept="application/json"
             ng-model="rawData" onchange="angular.element(this).scope().onFileSelected(event);" >
    </form>
  </div>
</div>
